#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card {
    padding: 2em;
}
.blockquote {
    display: flex;
    flex-direction: column;
    width: 100vh;
}

.quote-container {
    font-size: 25px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.letter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letters {
    display: flex;
    flex-direction: column;
    padding: 0 6px 0 6px;
    margin-top: -30px;
}

.guess {
    width: 25px;
    height: 25px;
    border: none;
    z-index: 1;
}

.guess:hover {
    cursor: pointer;
    background-color: rgb(143, 143, 143);
}

.zod-signs {
    color: rgb(255, 0, 0);
    margin-top: -10px;
}
